/* Regola di Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-top{
    display: flex;
    height: 50px;
}

.container {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    text-align: left;
    width: 20%;
}

.login  {
  text-align: right;
    width: 20%;
}

.navbar {
    width: 60%;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar ul li{
    display: inline;
   
}

/* Regole di Debug */

.debug .header-top {
    background-color: #ADD8E6;
}

.debug .container  {
    background-color: #DAA521;
}

